@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('./MuseoSansCyrl/MuseoSansCyrl-500.eot');
  src: url('./MuseoSansCyrl/MuseoSansCyrl_500.otf') format('opentype');
  src: url('./MuseoSansCyrl/__MACOSX/._MuseoSansCyrl_500.otf') format('opentype');
  src: url('./MuseoSansCyrl/MuseoSansCyrl-500.woff') format('woff'), url('./MuseoSansCyrl/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('./MuseoSansCyrl/MuseoSansCyrl-700.eot');
  src: url('./MuseoSansCyrl/MuseoSansCyrl_700.otf') format('opentype');
  src: url('./MuseoSansCyrl/__MACOSX/._MuseoSansCyrl_700.otf') format('opentype');
  src: url('./MuseoSansCyrl/MuseoSansCyrl-700.woff') format('woff'), url('./MuseoSansCyrl/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

$transition-time: .3s; 
$padding-in-prices-blocks: 30px;

%left-indent{
  left: 60px;
  width: 180px;
} 

%header-text-style{
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

%white-main-title{
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

%white-little-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

%grey-regular-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #CCCCCC;
}

%white-regular-text{
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}

%dot-before-list{
  position: absolute;
  left: 0;
  content: '';
  background-color: #F2BF14;
  border-radius: 50%;
}

%consultation-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  padding: 12px 20px;
  background-color: #F2BF14;
  cursor: pointer;
  transition: $transition-time;
}

%call-back-button{
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #333333;
  display: flex;
  justify-content: center;
  transition: $transition-time;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Museo Sans Cyrl', sans-serif;
}

.container{
  max-width: 1180px;
  margin: auto;
}

.background{
  background-image: url(./img/main-background.png);
  background-repeat: repeat;

  .start-page-block{
    position: relative;
    height: 100vh;

    .header__adress-up{
      display: none;
      @extend %header-text-style
    }

    .start-page{
      padding-bottom: 4vh;
  
      .header{
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        padding: 4vh 0 8vh 0;
        position: relative;
        width: 50%;
  
        .header__logo{
          position: fixed;
          @extend %left-indent;
          width: 143px;
          cursor: pointer;
        }
  
        .header__contacts{
          display: flex;
          flex-direction: row-reverse;
          column-gap: 20%;
          justify-content: space-between;
  
          .header__adress{
            @extend %header-text-style
          }
  
          .header__phones-and-email{
            display: grid;
            row-gap: 10px;
  
            a{
              text-decoration: none;
              @extend %header-text-style
            }
          }
        }
  
        .header__social-blocks{
          display: flex;
          column-gap: 4px;
          justify-self: center;
          align-self: flex-start;
  
          .header__social-block{
            background: rgba(0, 0, 0, 0.4);
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: $transition-time;
          }
  
          .header__social-block:nth-of-type(1){
            background-image: url(./img/social/whatsapp-img.svg);
            background-position: center;
            background-repeat: no-repeat;
          }
  
          .header__social-block:nth-of-type(2){
            background-image: url(./img/social/viber-img.svg);
            background-position: center;
            background-repeat: no-repeat;
          }
  
          .header__social-block:nth-of-type(3){
            background-image: url(./img/social/telegram-img.svg);
            background-position: center;
            background-repeat: no-repeat;
          }
  
          .header__social-block:nth-of-type(1):hover{
            background-image: url(./img/social/whatsapp-img-black.svg);
            background-position: center;
            background-repeat: no-repeat;
          }
  
          .header__social-block:nth-of-type(2):hover{
            background-image: url(./img/social/viber-img-black.svg);
            background-position: center;
            background-repeat: no-repeat;
          }
  
          .header__social-block:nth-of-type(3):hover{
            background-image: url(./img/social/telegram-img-black.svg);
            background-position: center;
            background-repeat: no-repeat;
          }
  
          .header__social-block:hover{
            background: #FFE600;
            color: #333333;
            transition: $transition-time;
          }
        }
      }
  
      .text-information{
        width: 50%;
        position: relative;
  
        .text-information__sidebar{
          @extend %grey-regular-text;
          position: fixed;
          @extend %left-indent;
          left: 0;
          font-weight: 700;
  
          .sidebar{
            list-style-type: none;
            display: grid;
            grid-gap: 13px;
  
            .sidebar__item{
              cursor: pointer;
              position: relative;
              transition: $transition-time;
              padding-left: 60px;
              width: 175px;
  
              .sidebar__yellow-line{
                position: absolute;
                content: '';
                width: 30px;
                height: 1px;
                background-color: #CCCCCC;
                left: 0;
                top: 11px;
              }
            }
  
            .sidebar__item:hover{
              transition: $transition-time;
            }
          }
        }
  
        .text-information__main{
          .text-information__concrete-definition{
            border-bottom: rgba(255, 255, 255, 0.21) 1px solid;
            width: 90%;
            padding-bottom: 2vh;
            display: grid;
            row-gap: 10px;
  
            .text-information__yellow-title{
              font-weight: 700;
              font-size: 24px;
              line-height: 3vh;
              color: #F2BF14;
            }
  
            .text-information__white-main-title{
              color: #FFFFFF;
              @extend %white-main-title;
            }
  
            .text-information__grey-regular-text{
              @extend %grey-regular-text;
            }
          }
    
          .text-information__consultation{
            padding-top: 25px;
            display: grid;
            row-gap: 15px;
            width: 90%;
  
            .text-information__white-little-title{
              @extend %white-little-title;
            }
  
            .text-information__white-regular-text{
              @extend %white-regular-text;
            }
            
            .text-information__consultation-button{
              width: 40%;
              @extend %consultation-button;
            }
            
            .text-information__consultation-button:hover{
              background-color: #FFE600;
              transition: $transition-time;
            }
          }
        }
      }
    }

    .slider-block{
      position: absolute;
      top: 0;
      right: 0;
      width: 50vw;
      height: 100%;

      .slider-block__slider{
        position: relative;
        margin-bottom: 0;
        width: 100%;
        height: 100%;

        .slick-list{
          width: 100%;
          height: 100%;

          .slick-track{
            width: 100%;
            height: 100%;
          }
        }

        .slider-block__arrow-left, .slider-block__arrow-right{
          position: absolute;
          top: calc(50% - 30px);
          z-index: 1;
          background-color: #F2BF14;
          border: 0px;
          width: 60px;
          height: 60px;
          cursor: pointer;
          display: flex !important;
          justify-content: center;
          align-items: center;
        }
    
        .slick-dots{
          left: 50px;
          bottom: 40px;
          text-align: left;
          width: auto;
    
          li.slick-active{
            width: 40px;
            margin-left: 0;
    
            .slider-block__dot{
              width: 30px;
              height: 2px;
              border-radius: 1px;
              background-color: #F2BF14;
            }
          }
    
          li{
            width: 40px;
            margin-left: 0;
    
            .slider-block__dot{
              width: 30px;
              height: 2px;
              border-radius: 1px;
              background-color: rgba(255, 255, 255, 0.2);
            }
          }
    
        }
    
        .slider-block__arrow-left:hover, .slider-block__arrow-right:hover{
          background-color: #FFE600;
          transition: $transition-time;
        }
    
        .slider-block__arrow-right{
          right: 0;
        }

        .slider-block__arrow-left{
          left: 0;
        }

        .slider-block__slide{
          height: 100%;
          width: 100%;
          position: relative;

          .slider-block__slide-img{
            width: 100%;
            background-image: url(./img/slider/slide1.png);
            background-size: cover;
            background-position: center;
            height: 100%;
            z-index: 2;
          }

          .slider-block__background-img{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
          }

          .slider-block__information {
            display: grid;
            grid-gap: 10px;
            position: absolute;
            bottom: 82px;
            left: 50px;
    
            .slider-block__work {
              font-weight: 700;
              font-size: 16px;
              line-height: 19px;
              color: #F2BF14;
            }
    
            .slider-block__name {
              font-weight: 700;
              font-size: 38px;
              line-height: 46px;
              color: #FFFFFF;
            }
    
            .slider-block__price {
              font-weight: 700;
              font-size: 18px;
              line-height: 22px;
              color: #CCCCCC;
            }
          }
        }
      }
    }

    .benefits__block{
      position: absolute;
      bottom: 0;
      padding-bottom: 60px;
      left: 0;
      right: 0;

      .container{
        .benefits{
          width: 50%;
          display: flex;
          row-gap: 20px;
          padding-right: 20px;          

          .benefits__benefit{
            .benefits__benefit-img{
              height: 48px;
            }
            .benefits__benefit-text{
              padding-top: 12px;
              @extend %white-regular-text;
            }
          }
    
          .benefits__call{
            @extend %call-back-button;
            position: fixed;
            @extend %left-indent;
            width: 143px;
            padding: 9px 0;
            bottom: 60px;
          }
    
          .benefits__call:hover{
            color: #333333;
            background-color: #FFE600;
            transition: $transition-time;
          }
        }
      }
    }
  }

  .prices{
    padding: 30px 0 10px 0;

    .prices__title {
      @extend %white-main-title;
      color: white;
      padding-bottom: 15px;
      padding-top: 35px;
    }

    .prices__action-text {
      @extend %grey-regular-text;
      padding-bottom: 10px;
    }

    .prices__products {
      display: flex;
      column-gap: 30px;
      row-gap: 10px;
      list-style-type: none;
      width: 75%;
      flex-wrap: wrap;

      .prices__product {
        @extend %white-little-title;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 16px;
      }

      .prices__product::before {
        width: 8px;
        height: 8px;
        @extend %dot-before-list;
      }
    }
  }

  .slider-of-prices{
    padding: 20px 0;

    .slider-of-prices__block{
      max-width: 1180px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 30px;

      .slider-of-prices__products, .slider-of-prices__yelllow-block{
        padding: $padding-in-prices-blocks;
        background-color: #232323;
        display: grid;
        grid-gap: 40px;
  
        .slider-of-prices__products-block{
          display: grid;
          grid-gap: 20px;
  
          .slider-of-prices__product{
            .slider-of-prices__product-title{
              font-weight: 700;
              font-size: 22px;
              line-height: 26px;
              color: #FFFFFF;
            }
    
            .slider-of-prices__product-date{
              font-weight: 700;
              font-size: 16px;
              line-height: 160%;
              color: #CCCCCC;
              padding-bottom: 8px;
            }
    
            .slider-of-prices__product-price{
              font-weight: 500;
              font-size: 16px;
              line-height: 160%;
              color: #F2BF14;
            }
          }
        }
      }
  
      .slider-of-prices__yelllow-block {
        background-color: #F2BF14;
  
        .slider-of-prices__yelllow-block-list {
          display: grid;
          list-style-type: none;
  
          .slider-of-prices__yelllow-block-item {
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
            color: #333333;
            position: relative;
            padding-left: 30px;
          }
  
          .slider-of-prices__yelllow-block-item::before {
            content: '';
            width: 18px;
            height: 14px;
            background-image: url(./img/tick.svg);
            background-position: center;
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }

  .consultation-block{
    background-color: #232323;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 60px;

    .consultation-block__advantages{
      padding: $padding-in-prices-blocks;
      display: grid;
      grid-gap: 5px;
      
      .consultation-block__advantage{
        @extend %white-little-title;
        position: relative;
        padding-left: 14px;
        display: flex;
        align-items: center; 
      }

      .consultation-block__advantage::before{
        width: 6px;
        height: 6px;
        @extend %dot-before-list;
      }
    }

    .consultation-block__consultation-button-block {
      background-image: url(./img/button-consultation-background.png);
      background-size: cover;
      // opacity: 0.5;

      .consultation-block__consultation-button-block-shaddow{
        background: linear-gradient(90deg, #232323 0%, rgba(35, 35, 35, 0) 30%);
        background-color: rgba(36, 36, 36, 0.5);
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 40px;
        height: 100%;

        .consultation-block__consultation-button{
          background: #F2BF14;
          @extend %consultation-button;
        }
        
        .consultation-block__consultation-button:hover{
          background-color: #FFE600;
          transition: $transition-time;
        }
      }
    }
  }

  .footer {
    background-color: #F2BF14;
    position: relative;

    .footer__map-block {
      position: absolute;
      left: 0;
      width: 50vw;
      height: 100%;
      z-index: 1;

      .footer__map{
        width: 100%;
        height: 100%;

        iframe{
          width: 100%;
          height: 100%;
        }
      }
    }

    .container{
      padding-bottom: 0px;
      position: relative;

      .contacts {
        position: relative;
        left: 50%;
        width: 50%;
        display: grid;
        grid-gap: 20px;
        padding: 30px 0 30px 60px;
        right: 0;

        .contacts__title {
          @extend %white-main-title;
          color: #333333;
        }

        .contacts__phones-block {
          display: grid;
          grid-template-columns: 2fr 3fr;

          .contacts__phones {
            align-self: center;

            .contacts__phone {
              display: block;
              text-decoration: none;
              @extend %grey-regular-text;
              color: #333333;
            }
          }
  
          .contacts__phones-button-block {
            .contacts__phones-button{
              @extend %call-back-button;
              padding: 12px 0;
              width: 180px;
            }
      
            .contacts__phones-button:hover{
              color: #333333;
              background-color: #FFE600;
              transition: $transition-time;
            }
          }
        }
  
        .contacts__email {
          text-decoration: none;
          @extend %grey-regular-text;
          color: #333333;
        }

        .contacts__adress-block {
          display: grid;
          grid-template-columns: 2fr 3fr;
          padding-bottom: 100px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);;

          .contacts__adress {
            @extend %grey-regular-text;
            color: #333333;
          }

          .contacts__social-blocks {
            display: flex;
            column-gap: 4px;
            justify-self: center;
            align-self: center;
            justify-self: left;

            .contacts__social-block {
              background-color: rgba(0, 0, 0, 0.1);
              width: 32px;
              height: 32px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transition: $transition-time;
            }
          }
        }
  
        .contacts__logo-block {
          .contacts__logo {
            cursor: pointer;
          }

          .contacts__all-right-reserved {
            font-weight: normal;
            font-size: 12px;
            line-height: 140%;
            color: rgba(51, 51, 51, 0.6);
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .container{
    max-width: 90%;
  }

  .background{
    .start-page-block{
      position: relative;
      
      .start-page{
        .header{
          padding: 3vh 0 3vh 0;
  
          .header__logo{
            position: relative;
            left: 0;
          }
  
          .header__contacts{
            flex-direction: column;
            row-gap: 10px;
          }
        }
  
        .text-information{
          .text-information__sidebar{
            .sidebar{
              display: none;
            }
          }
          .text-information__main{
            .text-information__consultation{
              .text-information__consultation-button{
                width: 50%;
              }
            }
          }
        }
      }

      .slider-block{
        height: 83vh;
      }

      .benefits__block{
        background: #232323;
        width: 100%;
        height: 17vh;
        bottom: 0;
        padding-top: 0;
        padding-bottom: 0;

        .container{
          height: 100%;

          .benefits{
            height: 100%;
            width: 100%;
            align-items: center;

            .benefits__benefit{
              display: flex;
              align-items: center;
              z-index: 2;

              .benefits__benefit-text{
                padding-left: 40px;
                width: 80%;
              }
            }
      
            .benefits__call{
              display: none;
            }
          }
        }
      }
    }

    .slider-of-prices{
      .slider-of-prices__block{
        max-width: 90%;
      }
    }

  }
}

@media (max-width: 1150px) {
  .background{
    .prices{
      position: relative;
    }

    .start-page-block{
      .start-page{
        width: 100%;
        .text-information{
          .text-information__main{
            .text-information__consultation{
              .text-information__consultation-button{
                width: 60%;
              }
            }
          }
        }
      }
    }

    .slider-of-prices{
      .slider-of-prices__block{
        grid-template-columns: repeat(1, 1fr);
        position: relative;
        left: 0;
        height: 415px;
        max-width: 100%;
        .slick-list{
          height: 100%;
          .slick-track{
            height: 100%;
            .slick-slide{
              margin-right: 10px;
            }
          }
        }
  
        .slider-block__arrow-left, .slider-block__arrow-right{
          position: absolute;
          top: calc(50% - 30px);
          z-index: 1;
          background-color: #F2BF14;
          border: 0px;
          width: 30px;
          height: 30px;
          cursor: pointer;
          display: flex !important;
          justify-content: center;
          align-items: center;
        }
  
        .slider-block__arrow-left-img, .slider-block__arrow-right-img{
          width: 8px;
          height: 13px;
        }
  
        .slider-block__arrow-left:hover, .slider-block__arrow-right:hover{
          background-color: #FFE600;
          transition: $transition-time;
        }
    
        .slider-block__arrow-right{
          right: 0;
        }
  
        .slider-block__arrow-left{
          left: 0;
        }
      }
    }

    .footer {
      .container{
        .contacts {
          .contacts__phones-block {
            grid-template-columns: 1fr 1fr;
            .contacts__phones-button-block {
              justify-self: end;
            }
          }
          .contacts__adress-block {
            grid-template-columns: 1fr 1fr;
            .contacts__social-blocks {
              justify-self: end;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  %grey-regular-text{
    font-size: 14px;
  }

  .background{
    .start-page-block{
      height: auto;

      .header__adress-up{
        position: absolute;
        width: 100%;
        height: 32px;
        display: block;
        z-index: 1;
        background: rgba(0, 0, 0, 0.4);        

        p {
          max-width: 90%;
          margin: auto;
          display: flex;
          justify-content: left;
          align-items: center;
          height: 100%;
        }
      }

      .start-page{ 
        padding-bottom: 4px; 

        .header{
          width: 100%;
          grid-template-columns: 3fr 2fr;
          grid-template-rows: 32px 1fr;
          padding-top: 0;
  
          .header__logo{
            padding: 20px 0;
          }
  
          .header__contacts{
            justify-self: flex-end;
            padding: 20px 0;
  
            .header__adress{
              display: none;
            }
          }
  
          .header__social-blocks{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
            display: grid;
            width: 115px;
            grid-template-columns: 1fr 1fr 1fr;
            justify-self: right;
  
            .header__social-block{
              justify-self: center;
              z-index: 2;
              background-color: transparent;
            }
          }
        }
  
        .text-information{
          width: 100%;
  
          .text-information__main{
            .text-information__concrete-definition{
              width: 100%;
            }
            .text-information__consultation{
              .text-information__consultation-button{
                width: 50%;
                margin-bottom: 40px;
              }
            }
  
          }
        }
      }
       
      .slider-block{
        position: relative;
        right: 0;
        top: auto;
        width: 100%;
        height: 380px;

        .slider-block__slider{
          .slick-dots{
            bottom: 0px;
          }

          .slider-block__slide{
            .slider-block__information {
              bottom: 40px;

              .slider-block__work {
                font-size: 12px;
                line-height: 14px;
              }
      
              .slider-block__name {
                font-size: 24px;
                line-height: 29px;
              }
      
              .slider-block__price {
                font-size: 13px;
                line-height: 16px;
              }
            }
          }
        }
      }

      .benefits__block{
        position: relative;
        background-color: transparent;
        height: auto;
        border-bottom: #232323 6px solid;

        .container{

          .benefits{
            flex-direction: column;
            height: auto;
            padding: 20px 0;

            .benefits__benefit{
              padding: 15px 0;
              width: 100%;


              .benefits__benefit-text{
                padding-left: 40px;
                width: 80%;
              }
            }

            .benefits__benefit:nth-of-type(1){
              padding: 15px 0;
              border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }
    
            .benefits__benefit:nth-of-type(2){
              padding: 15px 0;
              border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }
          }
        }
      }
    }


    .prices{
      .slider-of-prices{
        .slick-list{
          .slick-track{
            .slick-slide{
              padding: 20px;
            }
          }
        }
      }
    }

    .consultation-block{
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      grid-gap: 10px;

      .consultation-block__advantages{
        padding: 20px;

        .consultation-block__advantage{
          font-size: 14px;
        }
      }

      .consultation-block__consultation-button-block {
        background: none;
        display: flex;
        justify-self: center;
        padding-bottom: 20px;

        .consultation-block__consultation-button-block-shaddow{
          background-image: none;

          .consultation-block__consultation-button{

          }
        }
      }


    }

    .footer {
      .footer__map-block {
        position: relative;
        width: 100%;
        left: 0%;
        height: 375px;
      }

      .container{
        .contacts {
          width: 100%;
          left: 0;
          padding: 30px 0;

          .contacts__phones-block {
            .contacts__phones-button-block {
              .contacts__phones-button{
                width: 143px;
              }
            }
          }

          .contacts__adress-block {
            padding-bottom: 30px;
          }

          .contacts__logo-block {
            display: flex;
            flex-direction: column;
            align-items: center;

            .contacts__all-right-reserved {
              font-weight: normal;
              font-size: 12px;
              line-height: 140%;
              color: rgba(51, 51, 51, 0.6);
            }
          }
        }

      }
    }
  } 
}

@media (max-width: 500px) {
  .container{
    max-width: 84%;
  }

  .background{
    .start-page-block{
      .header__adress-up{      
        p {
          max-width: 84%;
        }
      }

      .start-page{
        .text-information{
          .text-information__main{
            .text-information__concrete-definition{
              .text-information__yellow-title{
                font-size: 16px;
                line-height: 19px;
              }
  
              .text-information__white-main-title{
                width: 285px;
                span{
                  font-size: 28px;
                }
              }
            }
            .text-information__consultation{
              .text-information__consultation-button{
                width: 100%;
              }
            }
          }
        }

      }

      .benefits__block{
        .container{
          .benefits{
            position: relative;
          }
        }
      }
    }

    .prices{
      padding: 20px 0;

      .prices__title {
        font-size: 24px;
        line-height: 29px;
        padding-top: 0;
      }

      .prices__products {
        width: 100%;
        flex-direction: column;

        .prices__product {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .background{
    .slider-of-prices{
      .slider-of-prices__block{
        .slick-list{
          .slick-track{
            .slick-slide{
              padding: 30px;
              margin-right: 30px;
              margin-left: 30px;
            }
          }
        }
      }
    }
  }
}