*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x:hidden;
}
.app{
    max-width: 1200px;
    margin: auto;
    height: 100vh;
}
header{
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
}
header .logo{
    width: 200px;
}
header .cart-link{
    position: relative;
    text-align: right;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}
header .img-cart{
    width: 50px;
}
header .amount-products-cart{
    display: block;
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 30px;
    color: white;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
}
header .full-price-cart{
    font-size: 30px;
}
header .cart-link span{
    /* padding: 0 10px; */
}
header a:first-child{
    /* text-align: center; */
}
nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
nav a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
.products-head{
    width: 100%;
    height: 100px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    margin: 20px 0;
    font-size: 40px;
    font-weight: 700;
    color: black;
    text-align: center;
}
.products-head > p{
    vertical-align: middle;
    padding-top: 25px;
}
.products-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-bottom: 50px;
}
.product{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
    transform: scale(1.005);
}
.product img{
    width: 250px;
    cursor: pointer;
}
.product h2{
    padding: 5px;
    font-size: 20px;
}
.product-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}
.product-information input{
    height: 30px;
    width: 80px;
    font-size: 20px;
    border-radius: 5px;
    padding: 0 12px;
}
.product h2{
    grid-column-start: 1;
    grid-column-end: 3;
}
.product p{
    padding: 5px;
    font-size: 25px;
    /* padding-left: 20px; */
}
.price{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.product-cart{
    cursor: pointer;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.product-cart img{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: bisque;
    border-radius: 5px;
}
.product-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}
.contacts-div{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 50px;
}
.contacts-div h1{
    text-align: center;
    padding: 10px 0;
    font-size: 40px;
}
.contacts-div h2{
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}
.contacts-div p{
    font-size: 25px;
    padding: 10px 0;
}
.contacts-div a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 10px 0;
}
.contacts-div iframe{
    width: 100%;
    height: 500px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 30px;
}
.head-cart{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 10px 0;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
}
.cart{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr 1fr;
    grid-gap: 15px;
    border-bottom: 1px rgb(212, 212, 212) solid;
    margin: 20px 0;
    padding-bottom: 20px;
    font-size: 25px;
    position: relative;
    height: 150px;
}
.cart img{
    width: 100px;
    max-height: 140px;
    margin: auto;
}
.cart p, .cart div{
    display: flex;
    align-items: center;
}
.cart input{
    width: 40px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
}
.delete-button {
    cursor: pointer;
    margin: auto;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.delete-button:hover {
    opacity: 1;
}
.delete-button:before, .delete-button:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.delete-button:before {
    transform: rotate(45deg);
}
.delete-button:after {
    transform: rotate(-45deg);
}

.change-amount-buy-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.minus, .plus, .main-minus, .main-plus{
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
    /* border: 1px solid black; */
    background-color: rgb(233, 233, 233);
    padding: 5px 0;
    padding-left: 15px;
    margin: 10px;
}

.cart-div button{
    cursor: pointer;
    padding: 15px 30px;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(158, 158, 158);
    font-size: 25px;
    color: white;
    margin: 20px 0;
    display: inline-block;
}
.cart-div button:hover{
    background-color: rgb(110, 110, 110);
    transform: scale(1.05);
    transition: 0.5s;
}
footer {
    position: relative;
    padding: 30px 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
footer:before{
    content: '';
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100%;
    top: 0;
    left: calc(50% - 50vw);
    z-index: -2;
}

.mini-logo{
    background-color: black;
    width: 50px;
}
footer .logo{
    width: 200px;
}
footer p{
    color: white;
    padding-left: 15px;
    font-size: 25px;
}
footer > div{
    margin: auto 0;
}
footer > div > div{
    display: flex;
    margin: 15px 0;
    align-items: center;
}