@import url('http://fonts.cdnfonts.com/css/fs-elliot-pro?styles=103048,103043');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.no-active{
  display: none !important;
  transition: 2s;
}

.active{
  display: block !important;
}


.background{
  background-color: #141225;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;

  .background__background-left{
    position: absolute;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  .background__background-right{
    position: absolute;
    height: 100%;
    right: 0;
  }

  .background__neon-left{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    max-width: 100vw;
  }

  .background__neon-right{
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    max-width: 100vw;
  }

  .background__neon-right-blink{
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 2;
    max-width: 100vw;
  }

  .background__background-up{
    display: none;
  }

  .background__koko{
    position: absolute;
    bottom: -13%;
    left: -5%;
    width: 35%;
    z-index: 3;
    animation: koko 2s ease-in-out;
  }

  .center-informations{
    position: relative;
    display: grid;
    grid-auto-flow: row;
    // justify-content: center;
    height: 100vh;
    z-index: 2;
    padding: 20px 0;

    .center-informations__header{
      display: flex;
      justify-content: center;
      align-items: center;

      .center-informations__language{
        position: absolute;
        left: 30px;
        z-index: 3;
        width: 92px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .dd-select{
          background-color: #271967 !important;
          border: 0;
          clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
        }

        .dd-selected{
          display: flex;
          align-items: center;
          color: white;
          font-size: 13px;
          font-family: 'FS Elliot Pro', sans-serif;
          font-weight: 400;
          padding: 5px 15px;

          img{
            width: 22px;
          }
        }

        .dd-options{
          border: 0;
          box-shadow: 0px 1px 5px #271967;
          width: 80% !important;
          margin: auto;
          left: 0;
          right: 0;

          .dd-option{
            color: white !important;
            font-size: 13px;
            font-family: 'FS Elliot Pro', sans-serif;
            font-weight: 400;
            background-color: #271967;
            border: 0;
            display: flex;
            align-items: center;

            img{
              width: 22px;
            }

            label{
              line-height: 22px !important;
            }
          }
        }
      }

      .center-informations__logo{
        justify-self: center;
      }
    }

    .center-informations__logo, .center-informations__title, .center-informations__text, .center-informations__case-page, .center-informations__button, .center-informations__payment, .center-informations__mask-group-block{
      justify-self: center;
    }

    .center-informations__title{
      font-family: 'FS Elliot Pro', sans-serif;
      color: #FFF101;
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 15vh;
    }

    .center-informations__text{
      font-family: 'FS Elliot Pro', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      text-transform: uppercase;
      color: #B0B0B0;
    }

    .center-informations__case-page{
      height: 120px;
      margin: 20px 0;
    }

    .center-informations__mask-group-block{
      position: relative;
      height: 120px;
      margin: 20px 0;
      width: 80%;

      .center-informations__mask-group{
        background-color: #141225;
        height: 100%;
        width: 100%;
        clip-path: polygon(5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%, 0 50%);
        box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.02);
        // transform: rotate(-90deg);
        position: relative;

        .mask-group__container{
          display: grid;
          grid-auto-flow: column;
          height: 100%;
          width: 100%;
          grid-gap: 10px;
          align-items: center;
          animation: mask-group 1s cubic-bezier(.39,.9,.68,.92);
          position: absolute;

          img{
            width: 86px;
            // vertical-align: middle;
          }
        }
      }

      .arrow-down{
        position: absolute;
        width: 40px;
        right: 0;
        left: 0; 
        margin: auto;
        top: -20px;
        z-index: 1;
        transition: .5;
      }

      .arrow-up{
        position: absolute;
        width: 40px;
        right: 0;
        left: 0; 
        margin: auto;        
        bottom: -20px;
        z-index: 1;
        transition: .5;
      }

      .center-informations__goal{
        position: absolute;
        width: 160px;
        height: 160px;
        top: -20px; 
        z-index: 5;
        right: 0;
        left: 0; 
        margin: auto;
        display: flex;
        align-items: center;
        animation: goal 2s ease-in-out;

        .center-informations__goal-img{
          width: 100%;
          z-index: 5;
        }
      }
    }



    .center-informations__button{
      cursor: pointer;
      height: 42px;
      transition: .3s;
    }

    .button-yellow{
      background-image: url(./img/button.svg);
      width: 165px;
    }

    .button-yellow:hover{
      background-image: url(./img/button-active.svg);
      transition: .3s;
    }

    .button-green{
      background-image: url(./img/button-green.svg);
      width: 265px;
      transition: .3s;
    }

    // .center-informations__button-green:hover{
    //   background-image: url(./img/button-active.svg);
    //   transition: .3s;
    // }

    .center-informations__koko{
      display: none;
    }

    .center-informations__payment{
      padding: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      // width: 165px;
    }
  }
}

@media (max-width: 700px) {
  .background{
    .background__neon-right{
      height: auto;
    }
  
    .background__neon-right-blink{
      height: auto;
    }
  }
}

@media (max-width: 500px) {
  .background{
    .background__koko{
      display: none;
    }

    .center-informations{
      .center-informations__header{
        display: grid;
        grid-template-columns: 1fr 2fr;
        max-width: 90%;
        margin: auto;

        .center-informations__language{
          position: relative;
          left: 0;
        }
      }

      .center-informations__title{
        font-size: 36px;
        padding-top: 5vh;
        max-width: 90%;
        margin: auto;
      }
  
      .center-informations__text{
        font-size: 18px;
        text-align: center;
        max-width: 90%;
        margin: auto;
        padding: 10px 0;
      }

      .center-informations__button{
        z-index: 4;
        max-width: 90%;
        margin: auto;
        padding: 10px 0;
      }
  
      .center-informations__payment{
        max-width: 90%;
        margin: auto;
      }
    }
  }
}

@media (max-width: 320px) {
  .background{
    height: 100%;

    .background__background-up{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .background__neon-right{
      height: auto;
      bottom: 50px;
    }
  
    .background__neon-right-blink{
      height: auto;
      bottom: 50px;
    }

    .background__background-left, .background__background-right, .background__neon-left{
      display: none;
    }

    .center-informations{
      padding-bottom: 0;
      height: 100%;

      .center-informations__header{
        .center-informations__language{
          
          .dd-select{
            width: 60px !important;
            clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
            margin: auto;
          }
  
          .dd-selected{
            img{
              display: none;
            }
          }
  
          .dd-options{  
            width: 48px !important;
            .dd-option{
              img{
                display: none;
              }
            }
          }
        }

        .center-informations__logo{
          width: 100%;
        }
      }

      .center-informations__koko{
        display: block;
        position: relative;
        width: 100%;
        height: 320px;
        // background-image: url(./img/neon1.svg);
        z-index: 2;
        overflow-y: hidden;

        .koko__img{
          position: absolute;
          bottom: -30%;
          right: 0;
          width: 80%;
          z-index: 1;
        }

        .koko__img-back{
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: 2;
          width: 100%;
        }
      }
  
      .center-informations__payment{
        background-color: #141225;
        z-index: 3;
      }
    }
  }
}

@keyframes koko {
  from { width: 0; }
  to { width: 35%; }
}

@keyframes goal {
  from { width: 86px; }
  to { width: 160px; }
}

@keyframes mask-group {
  from { 
    left: 100%;
  }
  to { 
    left: 0; 
  }
}