*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    max-width: 1170px;
    margin: auto;
}
/* ------------------------------------HEADER------------------------------------------- */
header{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    align-items: center;
    padding: 2vw 0;
}
.logo{
    position: absolute;
    left: -20%;
    width: 69px;
    height: 30px;
    background-image: url(./../img/Logo.png);
    cursor: pointer;
}
.menu-icon{
    display: none;
    width: 50px;
    height: 33px;
    background-image: url(./../img/menu-icon.png);
    background-size: cover;
    cursor: pointer;
}
.nav ul{
    display: flex;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(49, 69, 132);
    font-weight: bold;
}
.nav ul li{
    padding-right: 3%;
    cursor: pointer;
    transition: 0.3s;
}
.nav ul li::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(49, 69, 132);
    transition: 0.3s;
}
.nav ul li:hover::after {
    width: 100%;
}
.right-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-nav .select-lang-block{
    position: relative;
    padding-right: 15px;
}
.right-nav .select-lang-block .select-lang{
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(49, 69, 132);
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    cursor: pointer;
    outline: 0;
    background: url(./../img/Arrow\ Down.png) no-repeat right center;
}
.right-nav .select-lang-block .select-lang option{
    font-weight: bold;
    color: rgb(49, 69, 132);
}
.right-nav .contact-button{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 7px 10px 0px rgb(34 60 80 / 12%);
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
}
.right-nav .contact-button:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.right-nav .contact-button p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color:rgb(255, 57, 70);
    font-weight: bold;
    padding-right: 15px;
}
.right-nav .contact-button .arrow-right{
    width: 30px;
    height: 19px;
    background-image: url(./../img/Arrow.png);
    background-size: cover;
}
/* -------------------------------------TITLE------------------------------------------ */
.title-block{
    position: relative;

}
.title-photo{
    display: none;
}
.title-block .slider{
    width: 70%;
    margin: auto;
    display: flex;
    position: absolute;
    top: 10vw;
    right: -20%;
}
.title-block .slider .slide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.slide img{
    width: 100%;
}
.next, .prev{
    width: 30px;
    cursor: pointer;
}
.next{
    margin-left: 10px;
}
.prev{
    margin-right: 10px;
}
.title-block .title-information-block{
    width: 50%;
    padding: 15vw 0;
}
.title-block .title-information-block h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 73px;
    color: rgb(49, 69, 132);
    font-weight: bold;
}
.title-block .title-information-block p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(110, 117, 122);
    font-weight: 400;
    padding: 4vh 0;
}
.title-block .title-information-block .title-buttons{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.title-block .title-information-block .title-buttons > div{
    height: 55px;
    cursor: pointer;
}
.title-block .title-information-block .title-buttons .title-button-active{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 200px;
    box-shadow: 0px 7px 10px 0px rgb(34 60 80 / 12%);
    background-color: #fff;
    color: rgb(255, 57, 70);
    transition: 0.7s;
}
.title-block .title-information-block .title-buttons .title-button-active:hover{
    background-color: rgb(255, 57, 70);
    color: #fff;
    transition: 0.7s;
    border: 0px;
}
.title-block .title-information-block .title-buttons .title-button-passive{
    color: rgb(49, 69, 132);
    transition: 0.3s;
    padding-left: 35px;
    padding-top: 16px;
}
.title-block .title-information-block .title-buttons .title-button-passive:after{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(49, 69, 132);
    transition: 0.3s;
}
.title-block .title-information-block .title-buttons .title-button-passive:hover:after{
    width: 100%;
}
/* --------------------------------PORTFOLIO------------------------------------------------- */
.portfolio-block{
    padding: 5vh 0 20vh 0;
}
.portfolio-block h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: rgb(49, 69, 132);
    font-weight: bold;
    width: 50%;
    padding-bottom: 5vh;
}
.portfolio-block .portfolio-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.portfolio-block .portfolio-wrapper > div{
    height: 280px;
    background-image: url(./../img/1.png);
}
.portfolio-bottom-block{
    display: flex;
    justify-content: center;
}
.portfolio-block .portfolio-bottom-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(255, 57, 70);
    font-weight: bold;
    padding: 3vh 0;
    cursor: pointer;
}
.portfolio-block .portfolio-bottom-link:after{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(255, 57, 70);
    transition: 0.3s;
}
.portfolio-block .portfolio-bottom-link:hover:after{
    width: 100%;
    transition: 0.3s;
}
/* ----------------------------------FORM--------------------------------------------- */
.form{
    display: flex;
    flex-direction: column;
}
.form > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(255, 57, 70);
    font-weight: bold;
    padding-bottom: 1vh;
}
.form h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: rgb(49, 69, 132);
    font-weight: bold;
    padding-bottom: 3vh;
}
.form input, .form textarea{
    border: 0px;
    border-radius: 5px;
    background-color: #f4fafe;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(49, 69, 132);
    font-weight: bold;
    outline: none;
}
.form input::placeholder, .form textarea::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgba(49, 68, 132, 0.562);
    font-weight: bold;
    vertical-align: top;
}
.form form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}
.form form .form-message-text, .form form .form-button{
    grid-column-start: 1;
    grid-column-end: 3;
}
.form form .form-message-text{
    height: 120px;
}
.form form .form-message-text::placeholder{
    vertical-align: top;
}
.form form .form-button{
    border: 0px;
    border-radius: 25px;
    height: 55px;
    width: 200px;
    box-shadow: 0px 7px 10px 0px rgb(34 60 80 / 12%);
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 57, 70);
    transition: 0.7s;
    justify-self: center;
    margin: 2vh 0 5vh 0;
    cursor: pointer;
}
.form form .form-button:hover{
    background-color: rgb(255, 57, 70);
    color: #fff;
    transition: 0.7s;
}
/* -------------------------------------FOOTER------------------------------------------ */
.background-footer{
    background-color: #314584;
    width: 100%;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vh 0 6vh 0;
}
.footer .footer-doob{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.footer h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: rgb(255, 57, 70);
    font-weight: bold;
    padding: 1vh 0 4vh 0;
}
.footer .footer-nav, .footer .footer-social-links{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 40px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.footer .footer-nav li{
    cursor: pointer;
}
.footer .footer-nav li::after{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(255, 255, 255);
    transition: 0.3s;
}
.footer .footer-nav li:hover:after {
    width: 100%;
    transition: 0.3s;
}
.footer .footer-copyright{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 5vh 0;
}
.footer .footer-social-links{
    grid-gap: 70px;
    cursor: pointer;
}




  
  
  
  
  
  
  