@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('./MuseoSansCyrl/MuseoSansCyrl-500.eot');
  src: url('./MuseoSansCyrl/MuseoSansCyrl_500.otf') format('opentype');
  src: url('./MuseoSansCyrl/__MACOSX/._MuseoSansCyrl_500.otf') format('opentype');
  src: url('./MuseoSansCyrl/MuseoSansCyrl-500.woff') format('woff'), url('./MuseoSansCyrl/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('./MuseoSansCyrl/MuseoSansCyrl-700.eot');
  src: url('./MuseoSansCyrl/MuseoSansCyrl_700.otf') format('opentype');
  src: url('./MuseoSansCyrl/__MACOSX/._MuseoSansCyrl_700.otf') format('opentype');
  src: url('./MuseoSansCyrl/MuseoSansCyrl-700.woff') format('woff'), url('./MuseoSansCyrl/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}