body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
}
header::before{
  position: absolute;
  content: '';
  background-color: black;
  width: 100vw;
  height: 100%;
  top: 0;
  left: calc(50% - 50vw);
  z-index: -1;
}
header img{
  width: 300px;
  cursor: pointer;
}
nav{
  display: flex;
  align-items: center;
}
nav ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 700px;
  padding: 20px 0;
}
nav ul > li{
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}
nav ul > li > a{
  color: white;
  text-decoration: none;
}
nav ul > li > a:hover, .contacts a:hover{
  color: gold;
  transition: 0.5s;
}
.App{
  max-width: 1200px;
  margin: auto;
}
.main-container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}
.news{
  margin-bottom: 15px;
}
.news h2, .news p{
  display: inline;
}
.news a{
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.news a:hover{
  text-decoration: underline;
}
.article{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 30px;
  grid-gap: 5px;
}
.article .time, .article .content{
  grid-column-start: 1;
  grid-column-end: 3;
}
.article .time{
  opacity: 0.5;
}
.article .content{
  font-size: 20px;
}
.article a{
  font-size: 23px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.article a:hover{
  text-decoration: underline;
}
.article-img{
  height: 150px;
}
table{
  width: 95%;
  margin: auto;
}
table tr, table th{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 5fr 2fr 2fr;
}
footer{
  position: relative;
}
footer::before{
  position: absolute;
  content: '';
  background-color: black;
  width: 100vw;
  height: 100%;
  top: 0;
  left: calc(50% - 50vw);
  z-index: -1;
}
.social{
  display: flex;
}
.social img{
  width: 50px;
  background-color: white;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
}
.social img:hover{
  background-color: gold;
  transition: 0.5s;
}
.contacts{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.contacts h2, .contacts a{
  color: white;
  text-decoration: none;
  padding-right: 20px;
}
.contacts h2{
  padding-right: 30px;
}
.flags img{
  height: 30px;
  margin: 20px ;
}